Repository HYF-Class19/agile-development-hyf-group-2, pull requests merged in 2022-08, with the labels that each got.

#2 Planning file
  .cspell.json
  .vscode/settings.json
  package.json
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/retrospective.md
  planning/user-personas.md
  public/home-page.png
Labels: documentation, planning

#7 add html files
  pages/about.html
  pages/another-page.html
  pages/digitalents.html
  pages/faq.html
  pages/program.html
  pages/support.html
  pages/volunteer.html
  styles/something.css
Labels: HTML, CSS

#8 Planning file
  .cspell.json
  planning/backlog.md
  planning/design.md
  planning/development-strategy.md
  public/digitalents.png
  public/program.png
  public/volunteer.png
Labels: planning, md

#23 Partner_section
  images/hyf.png
  images/logo-partner/DataCamp.png
  images/logo-partner/agoria-logo.png
  images/logo-partner/antwerpen.jpg
  images/logo-partner/axxes.png
  images/logo-partner/bruxelle-formation.png
  images/logo-partner/bruxelle-formation.svg
  images/logo-partner/digital-belgium.svg
  images/logo-partner/duo4job.png
  images/logo-partner/epitech.png
  images/logo-partner/hogeschool.svg
  images/logo-partner/member.png
  images/logo-partner/microsoft.svg
  images/logo-partner/openknowweldge-belgium.svg
  images/logo-partner/openrecognation.png
  images/logo-partner/printsimple.svg
  images/logo-partner/ux-antwerpen.png
  images/logo-partner/vbo-feb.png
  index.html
  planning/design.md
  public/AboutPage.png
  styles/index.css
  styles/something.css
Labels: HTML, CSS

#25 Footer
  image/footlogo/facebook.jpeg
  image/footlogo/github.png
  image/footlogo/linkedin.png
  image/footlogo/livechat.png
  image/footlogo/twitter.png
  index.html
  styles/index.css
Labels: HTML, CSS

#27 edit paths to img
  index.html
  styles/index.css
Labels: HTML, CSS

#30 Header & title
  index.html
  styles/index.css
Labels: HTML, CSS

#31 adding our ptogram and our impact section to index.html and index.css
  index.html
  styles/index.css
Labels: HTML, CSS

#32 Nav bar
  index.html
  styles/index.css
  styles/something.css
Labels: HTML, CSS

#33 Adding Showcase html and css
  index.html
  styles/index.css
Labels: HTML, CSS

#34 add all html pages: the program, volunteers, digitalents, faq, about, support_us
  pages/about.html
  pages/digitalents.html
  pages/faq.html
  pages/program.html
  pages/support.html
  pages/volunteer.html
Labels: HTML

#52 Pages
  images/showcase.jpg
  pages/about.html
  pages/apply.html
  pages/digitalents.html
  pages/faq.html
  pages/program.html
  pages/support.html
  pages/volunteer.html
  planning/backlog.md
  styles/index.css
  styles/program.css
Labels: HTML, CSS

#54 fixing background brightness in showcase
  styles/index.css
Labels: CSS

#56 Support html and css
  images/hand.svg
  images/hand4.svg
  images/zoom.svg
  images/zoom9.svg
  pages/support.html
  styles/support.css
Labels: HTML, CSS

#57 faq page: css, html
  .cspell.json
  images/faq/glass.svg
  images/faq/plus.svg
  pages/faq.html
  styles/faq.css
Labels: HTML, CSS

#59 editing volunteer.html, volunteer.css and index.css
  pages/volunteer.html
  styles/index.css
  styles/volunteer.css
Labels: HTML, CSS

#58 digitalents page: html and css
  images/digitalents.jpg
  pages/digitalents.html
  styles/digitalents.css
Labels: HTML, CSS
